
		body, html {
			height: 100%;
	}
		* {
			-webkit-border-radius: 0 !important;
			-moz-border-radius: 0 !important;
			border-radius: 0 !important;
	}
		.navbar-brand,.navbar-nav li a {
			line-height: 60px;
			height: 60px;
			padding-top: 0;
	}
		.brand_logo{
			height:50px;
			padding-top:10px;
			padding-left:15px;
	}
		.brand_name2{
			font-family: 'Dancing Script', cursive;
			font-size:30px;
			color:#f15f22;
			color:white;
			padding-left:80px;
			padding-right:20px;
			margin-top:-35px;
	}
		.nav_bra{
			font-size:32px;
			font-weight:bold;
	}
		li > a{
			font-size: 16px !important;
			padding-left:40px !important;
			padding-right:40px !important;
	}
		.hide_li{
			visibility:hidden;
	}
		.dropdown{
			margin-right:40px;
	}
		.nav_icon{
			font-size:24px;
			color:#f15f22;
	}
		.nav_icon_w{
			font-size:16px;
			color:#f15f22;
			color:white;
	}
		.nav_icon_w_active{
			font-size:16px;
			color:white;
	}
		.nav_icon_active{
			font-size:24px;
			color:white;
	}
		.navbar .navbar-collapse {
			text-align: center;
	}
	@media only screen and (max-width: 1110px) {
		li > a{
		font-size: 16px !important;
			padding-left:35px !important;
			padding-right:35px !important;
	}
		.dropdown{
			margin-right:30px;
	}
		.brand_name{
			font-family: 'Dancing Script', cursive;
			font-size:30px;
			color:#f15f22;
			color:white;
			padding-left:20px;
			padding-right:20px;
	}
   
}
	@media only screen and (max-width: 1050px) {
		li > a{
			font-size: 15px !important;
			padding-left:30px !important;
			padding-right:30px !important;
	}
		.dropdown{
			margin-right:0px;
	}
		.profile_nav_icon, .log_nav_icon{
			display:none;
	}
   
}
	@media only screen and (max-width: 890px) {
		li > a{
			font-size: 13px !important;
			padding-left:20px !important;
			padding-right:20px !important;
	}
		.brand_name2{
			font-size:25px;
	}
}
	@media only screen and (max-width: 766px) {
		.profile_nav_icon, .log_nav_icon{
			display:inline;
	}

}
	@media only screen and (max-width: 330px) {
		.brand_name2{
			font-size:22px;
			padding-left:60px;
			padding-right:10px;
			margin-top:-40px;
	}
}

.main-view{
	margin-top: 60px;
	background: url("https://englishbucket.s3.amazonaws.com/static/css/learner.jpg") no-repeat center center fixed;
	
	margin-left:0%;
	margin-bottom:0%
	width:100%;
	height:60%;
	
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
}
.main-header{
	padding-top: 100px;
	text-align: center;
	color: white;
}

.main-text{
	text-align: center;
	color: white;
	font-size: 18px;
}

.main-button{
	background: #3473a0;
	color: white;
	font-size: 20px;

}





.client-service{
	background: #f9f9f9;
}

.client-head{
	padding-top: 20px;
	text-align: center;
	padding-bottom: 40px;
	font-size: 40px;
}

.client-cont{
	padding-left: 5%;
	padding-right: 5%;
}
.home-card{
	text-align: center;
}
.home-card > h3{
	font-size: 24px;
}
.home-card > p{
	font-size: 17px;
}
.image_icon {
	margin-left: 35%;
	margin-right: 35%;
	width: 30%;
	height: 100px;
}








.get-started{
	padding-top: 20px;
	background: #28445c;
	padding-bottom: 60px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: white;
}

.start-button{
	background: #3473a0;
	color: white;
	font-size: 20px;
}




.service{
	padding-bottom: 80px;
}

.service_heading{
	text-align: center;
	font-weight: 100;
	font-size: 38px;
	padding-top: 20px;
	
	padding-bottom: 40px;
}

.service_card{
	padding-top: 40px;
	font-size: 18px;
	padding-left: 10%;
	padding-right: 5%;
}
.publish_content{
	padding-bottom: 10px;
}
.get-button{
	background: #3473a0;
	color: white;
	font-size: 16px;
}
.learn-button{
	background: #00ced1;
	color: white;
	font-size: 16px;
}

.service_image{

}

.explore_button{
	margin-top: 10px;
}
.image_publish_image{
	height: 15%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	
}




.testimonials{
	background: #1d84b9;
	padding-bottom: 140px;
	padding-left: 5%;
	padding-right: 5%;
}
.testimonials-heading{
	padding-top: 20px;
	text-align: center;
	padding-bottom: 40px;
	color: white;
	font-size: 40px;
}
.testimonials-cont{
	
}
.testimonials-card{
	background: white;
	padding:20px; 
	margin-top: 20px;
}
.user-quote{
	font-size: 16px;
}
.pull-xs-right{
		text-align: right;
		color:#a9a9a9;
}














.last{
			width:100%;
			padding-top:40px;
			background:#e5e5e5;
			background:white;
		
		}
		.footer_ele{
			text-align:center;
		
		}
		.bounceIn > i{
			padding: 5px 10px;
			display: inline-block;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
			-moz-box-shadow: 0px 0px 2px #888;
			-webkit-box-shadow: 0px 0px 2px #888;
			box-shadow: 0px 0px 2px #888;
			background:#323232;
			color:white;
	}
	.bounceIn > 	i:hover { 
		background-color: #3b5998;
	}
	.bounceIn{
		font-size:24px;
	
	}
	.foot_head > h3{
		padding-top:20px;
		font-size:24px;
		font-weight:bold;
	
	}
	.foot_bottom{
		padding-top:10px;
	}
@media only screen and (max-width: 766px) {
	.foot_head > h3{
		font-size:22px;

	}
	
}
@media only screen and (max-width: 450px) {
	.foot_head > h3{
		font-size:19px;

	}
	
}