<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>EnglishGyani - Learn English with News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'images/logo.PNG' %}" type="image/png" >
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/578e02aff5.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/article_list.css' %}">
	
</head>
<body>
	
	

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#"><img src="col_lo.png" class="brand_logo" ><h3 class="brand_name2">Englishgyani</h3></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		<li class="active kkk"><a href="#"><i class="fa fa-source-o nav_icon_active" aria-hidden="true"></i> <span class="nav_icon_w_active"> News</span> </a></li>
      
      <li><a href="#"><i class="fa fa-bookmark nav_icon" aria-hidden="true"></i><span class="nav_icon_w"> Bookmark</span> </a></li>
	  <li><a href="#"><i class="fa fa-question nav_icon" aria-hidden="true"></i><span class="nav_icon_w"> Practice</span> </a></li> 
	  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="#" id="egregister"><span class="glyphicon glyphicon-user nav_icon"></span><span class="nav_icon_w profile_nav_icon"> Register</span> </a></li>
        <li><a href="#" id="eglogin"><span class="glyphicon glyphicon-log-in nav_icon"></span><span class="nav_icon_w log_nav_icon"> Login</span> </a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="main_body">
	<div class="main_left">
		<div class="main_left_body">
			<div class="main_left_height">
				<i class="fa fa-lightbulb-o idea_icon" aria-hidden="true"></i>
				<span class="idea_text"> Set your goals. Think about how many articles you want to read each week. The number could increase as your reading speed gets faster!
				</span>
			</div>
			
		</div>
		
	</div>
	<div class="main_right">
			
				<div class="eg_filter">
					<div class="eg_filter_ele_alt" id="eg_show_filter">
						<p class="eg_button eg_main_button" id="eg_main_filter_button"><span>Filter Articles</span> <i class="fa fa-angle-down" id="arrow_icon"aria-hidden="true"></i> </p>
					</div>
					<div class="eg_filter_ele" id="eg_filter_cat">
						<span class="eg_button_cat eg_active_cat" id="eg_by_cat1">BY CATEGORY</span>
						
					</div>
					<div class="eg_filter_ele" id="subcat1">
									<p class="filter_button filt_sub2 fil_active1" id="eg_by_sub_cat1">All</p>
									<p class="filter_button filt_sub2" id="eg_by_sub_cat2">Business</p>
									<p class="filter_button filt_sub2" id="eg_by_sub_cat3">Politics</p>
									<p class="filter_button filt_sub2" id="eg_by_sub_cat4">Sports</p>
									<p class="filter_button filt_sub2" id="eg_by_sub_cat5">International</p>
									<p class="filter_button filt_sub2" id="eg_by_sub_cat6">Entertainment</p>
								
					</div>
					
					
					<div class="eg_filter_ele" id="eg_clear_filter">
							<span class="eg_filter_button" >Show article</span>
							<span class="eg_clear_filter_button"> Clear Filters </span>
					</div>
			
				</div>
				<div class="no_article" id="no_article">
						<p> There are no articles matching criteria </p>
						<div class="see_all_art_div">
							<span class="see_all_art">See all article</span>
						</div>
				</div>
				<div class="load_more_button">	
					<div class="load_more_button_in">
						<button class="load_button"> Load More </button>
						
					</div>
				</div>
			
	</div>
</div>
<div class="modal fade" id="myModal" role="dialog">
	<div class="login card">
			<p class="sign_text"> Login to Englishgyani</p>
			<a href="/accounts/google/login/?process=login">
				<img class="social_login_img" src="https://englishbucket.s3.amazonaws.com/static/img/a.png">
			</a>
			<a href="/accounts/facebook/login/?process=login">
				<img class="social_login_img1" src="https://englishbucket.s3.amazonaws.com/static/img/fb.png">
			</a>
			<div class="close_modal_div">
				<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          
			</div>
	</div>

 </div>
<form action="" method="post">{% csrf_token %}</form>
<script>
$(document).ready(function(){
	$(".navbar-nav li a").click(function(event) {
		$(".navbar-collapse").collapse('hide');
	  });
    $("#eglogin").click(function(){
        $("#myModal").modal();
		$(".sign_text").text("Login to Englishgyani");
    });
	$("#egregister").click(function(){
        $("#myModal").modal();
		$(".sign_text").text("Register to Englishgyani");
    });
});
</script>

<script>
	var filter_count = 0; //0=down
	$( "#eg_main_filter_button" ).click(function() {
	if (filter_count%2===0){
		$("#arrow_icon").attr("class", "fa fa-angle-up");
		$(".eg_filter_ele").css({"display":"block"});
				
	
	}
	else{
		$("#arrow_icon").attr("class", "fa fa-angle-down");
		$(".eg_filter_ele").css({"display":"none"});
		$("#subcat2").css({"display":"none"});
	}
	filter_count+=1;
		

});

$( ".filt_sub2" ).click(function() {
	
	var  main_sub_cat_ele_id = $(this).attr('id');
	var  main_active_sub_cat_ele_id = $(".fil_active1").attr('id');
	
	if (main_sub_cat_ele_id != main_active_sub_cat_ele_id){
		$("#"+main_active_sub_cat_ele_id).attr("class", "filter_button filt_sub2");
		$("#"+main_sub_cat_ele_id).attr("class", "filter_button filt_sub2 fil_active1");
	
	}
});
        window.getCookie = function(name){
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}


$( ".eg_clear_filter_button" ).click(function() {
		clearfilter();
});
$( ".eg_filter_button" ).click(function() {
		//fil_active3
		cat_text = $(".fil_active1").text().toLowerCase();
		//cat_level = $(".fil_active2").map(function() { return $(this).text(); });
		//cat_content = $(".fil_active3").map(function() { return $(this).text(); });
		console.log(cat_text);
    formdata=new FormData();
    formdata.append(cat_text.toString(),cat_text.toString())
    formdata.append("anurag","anurag")
    console.log(formdata)
    console.log("hi i am here")

			$.ajax({
                 beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
                },
				url: "/api/article-filter/",
				data:formdata,
                cache: false,
				type: "POST",
                contentType:false,
                processData: false,
				success: function(response) {
                    //console.log(response);
                    article_json = jQuery.parseJSON( response );
                    console.log(article_json);
                    console.log(22222);
					$(".list_container").remove();
				if(article_json.length===0){
					$("#no_article").css({"display":"block"});
				}
				else{
					addarticle();
				}
				},
				error: function(xhr) {
                     console.log(88);
				}
			});

		
});
</script>
<script>
var article_json = [{"image":"https://d34yfym6wfrgx6.cloudfront.net/uploads/article/custom_image/139851/super_large_Instagram-for-money.jpg","level":2,"summary":"A new generation of investors with a conscience can help you make money while putting your dollars to good use.","date":"10/19/2016","source":"Desitomato","source_url":"http://Desitomato.com","content":"text","article_id":2323,"head":"Get Rich While Doing Good"},
{"image":"https://d34yfym6wfrgx6.cloudfront.net/uploads/article/custom_image/140597/super_large_factory.jpg","level":4,"summary":"As factory floors become more automated and data-driven, manufacturing companies are in need of computer engineers. But they often find themselves outgunned by Silicon Valley tech firms.","date":"10/20/2016","source":"The Hindu","source_url":"http://thehindu.com","content":"text","article_id":2393,"head":"Manufacturers Lose Out on Tech Talent"}
];

    article_json1={{ article_list |safe }}
console.log(article_json)
	if(article_json.length===0){
		$("#no_article").css({"display":"block"});
	}
	else{
		addarticle();
	}
//redirect_page
$(".main_right").on("click",".redirect_page",function(){ 
	present = this;
	var present_class= $(present).attr("id")
	present_id = present_class.slice(3);

	console.log(present_id);
 //window.location.assign("http://google.com/"+present_id);
 
 
 });
 //load_button
 $(".main_right").on("click",".load_button",function(){ 
		addarticle();
		/*$.ajax({
				url: "ajax.aspx?ajaxid=4",
				data: { 
					"VarA": VarA, 
					"VarB": VarB, 
					"VarC": VarC
				},
				cache: false,
				type: "POST",
				success: function(response) {
					var obj = jQuery.parseJSON( response );
					$(".list_container").remove();
				if(article_json.length===0){
					$("#no_article").css({"display":"block"});
				}
				else{
					addarticle();
				}
				},
				error: function(xhr) {

				}
			});
		*/
 });
 
 function clearfilter(){ 
			$(".fil_active1").attr("class", "filter_button filt_sub2");
			$("#eg_by_sub_cat1").attr("class", "filter_button filt_sub2 fil_active1");
			
};
 function addarticle(){ 
	for (i=0;i<article_json.length;i++){
		var first_div = document.createElement("div"); 
			$(first_div).addClass("list_container");
			$(first_div).attr("id", article_json[i].article_id);
		var first_div_fi_child = document.createElement("div"); 
			$(first_div_fi_child).addClass("main_right_left boxshadow");
			first_div.appendChild(first_div_fi_child);
		var first_div_se_child = document.createElement("div"); 
			$(first_div_se_child).addClass("main_right_right");
			first_div.appendChild(first_div_se_child);
		var first_image = document.createElement("img");
			$(first_image).attr("src",article_json[i].image);
			$(first_image).attr("alt", "article image");
{#			$(first_image).attr("onlick", "javascript:location.href='{% url 'article_url' article_id ="+lit[i].id+" }'");#}
			$(first_image).attr("class", "image_article redirect_page");
			$(first_image).attr("id", "img"+article_json[i].article_id);
			first_div_fi_child.appendChild(first_image);
		var sec1_div = document.createElement("div"); 
			$(sec1_div).addClass("news_sum_top");
			first_div_se_child.appendChild(sec1_div);
		var sec2_div = document.createElement("div"); 
			$(sec2_div).addClass("news_sum_head");
			first_div_se_child.appendChild(sec2_div);
		var sec3_div = document.createElement("div"); 
			$(sec3_div).addClass("news_sum_body");
			first_div_se_child.appendChild(sec3_div);
		var sec4_div = document.createElement("div"); 
			$(sec4_div).addClass("news_sum_foot");
			first_div_se_child.appendChild(sec4_div);
			//<p class="news_level_icon">5</p>
		var level_span = document.createElement("span");
			$(level_span).addClass("news_level_icon");
			$(level_span).text(article_json[i].level);
			sec1_div.appendChild(level_span);
			//<h2>Manufacturers Lose Out on Tech Talent</h2>
		var art_head = document.createElement("h2");
			$(art_head).addClass("redirect_page");
			$(art_head).text(article_json[i].head);
			$(art_head).attr("id", "hed"+article_json[i].article_id);
			sec2_div.appendChild(art_head);
			//<p>As factory floor
		var art_summ = document.createElement("p");
			$(art_summ).text(article_json[i].summary);
			sec3_div.appendChild(art_summ);
			//<i class="fa fa-calendar" aria-hidden="true"></i>
		var font_cale = document.createElement("i");
			$(font_cale).addClass("fa fa-calendar");
			$(news_link).attr("aria-hidden", "true");
			sec4_div.appendChild(font_cale);
			//sec4_div.appendChild("<i class='fa fa-calendar' aria-hidden='true'></i>");
			//<span>19/10/16</span> 
		var date_span = document.createElement("span");
			$(date_span).text(article_json[i].date);
			$(date_span).addClass("icon_space");
			sec4_div.appendChild(date_span);
			//<a href="http://www.google.com" class="article_src">The Economist</a>
		var news_link = document.createElement("a");
			$(news_link).text(article_json[i].source);
			$(news_link).attr("href",article_json[i].source_url);
			$(news_link).addClass("article_src icon_space");
			sec4_div.appendChild(news_link);
			//<span class="news_level_icon2 star_icon2" ><i class="fa fa-file-text" aria-hidden="true"></i></span>
		var content_span = document.createElement("span");
			$(content_span).addClass("news_level_icon2 star_icon2");
		var font_cont = document.createElement("i");
			$(font_cont).addClass("fa fa-file-text");
			$(font_cont).attr("aria-hidden", "true");
			content_span.appendChild(font_cont);
		
			sec4_div.appendChild(content_span);
		// eg_filter
		
		$(".eg_filter").after(first_div);
		var space_br = document.createElement("br");
		$(".eg_filter").after(space_br);
		}


};
</script>
</body>
</html>
  